
Cadastro.MilanLeiloes.API/bin/Debug/netcoreapp2.1/Cadastro.MilanLeiloes.API.deps.json
Cadastro.MilanLeiloes.API/obj/project.assets.json
Cadastro.MilanLeiloes.API/obj/Debug/netcoreapp2.2/Cadastro.MilanLeiloes.API.dll
Cadastro.MilanLeiloes.API/obj/Debug/netcoreapp2.2/Cadastro.MilanLeiloes.API.csproj.FileListAbsolute.txt
Cadastro.MilanLeiloes.API/bin/Debug/netcoreapp2.1/Cadastro.MilanLeiloes.API.dll
Cadastro.MilanLeiloes.API/bin/Debug/netcoreapp2.1/Cadastro.MilanLeiloes.API.pdb
Cadastro.MilanLeiloes.API/bin/Debug/netcoreapp2.1/Cadastro.MilanLeiloes.API.runtimeconfig.dev.json
Cadastro.MilanLeiloes.API/bin/Debug/netcoreapp2.1/Cadastro.MilanLeiloes.API.runtimeconfig.json
Cadastro.MilanLeiloes.API/bin/Debug/netcoreapp2.2/appsettings.Development.json
Cadastro.MilanLeiloes.API/bin/Debug/netcoreapp2.2/Cadastro.MilanLeiloes.API.deps.json
Cadastro.MilanLeiloes.API/bin/Debug/netcoreapp2.2/Cadastro.MilanLeiloes.API.dll
Cadastro.MilanLeiloes.API/bin/Debug/netcoreapp2.2/Cadastro.MilanLeiloes.API.pdb
Cadastro.MilanLeiloes.API/bin/Debug/netcoreapp2.2/Cadastro.MilanLeiloes.API.runtimeconfig.dev.json
Cadastro.MilanLeiloes.API/bin/Debug/netcoreapp2.2/Cadastro.MilanLeiloes.API.runtimeconfig.json
Cadastro.MilanLeiloes.API/bin/Debug/netcoreapp2.2/Properties/launchSettings.json
Cadastro.MilanLeiloes.API/obj/Cadastro.MilanLeiloes.API.csproj.nuget.cache
Cadastro.MilanLeiloes.API/obj/Cadastro.MilanLeiloes.API.csproj.nuget.dgspec.json
Cadastro.MilanLeiloes.API/obj/Cadastro.MilanLeiloes.API.csproj.nuget.g.targets
Cadastro.MilanLeiloes.API/obj/Debug/netcoreapp2.1/Cadastro.MilanLeiloes.API.AssemblyInfo.cs
Cadastro.MilanLeiloes.API/obj/Cadastro.MilanLeiloes.API.csproj.nuget.g.props
Cadastro.MilanLeiloes.API/obj/Debug/netcoreapp2.1/Cadastro.MilanLeiloes.API.assets.cache
Cadastro.MilanLeiloes.API/obj/Debug/netcoreapp2.2/Cadastro.MilanLeiloes.API.RazorAssemblyInfo.cs
Cadastro.MilanLeiloes.API/obj/Debug/netcoreapp2.2/Cadastro.MilanLeiloes.API.RazorAssemblyInfo.cache
Cadastro.MilanLeiloes.API/obj/Debug/netcoreapp2.2/Cadastro.MilanLeiloes.API.pdb
Cadastro.MilanLeiloes.API/obj/Debug/netcoreapp2.1/Cadastro.MilanLeiloes.API.RazorAssemblyInfo.cache
Cadastro.MilanLeiloes.API/obj/Debug/netcoreapp2.1/Cadastro.MilanLeiloes.API.dll
Cadastro.MilanLeiloes.API/obj/Debug/netcoreapp2.1/Cadastro.MilanLeiloes.API.pdb
Cadastro.MilanLeiloes.API/obj/Debug/netcoreapp2.2/Cadastro.MilanLeiloes.API.AssemblyInfo.cs
Cadastro.MilanLeiloes.API/obj/Debug/netcoreapp2.1/Cadastro.MilanLeiloes.API.RazorTargetAssemblyInfo.cache
